In [2]:
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [3]:
def get_listings(api_key, listing_url):
    url = "https://app.scrapeak.com/v1/scrapers/zillow/listing"

    querystring = {
        "api_key": api_key,
        "url":listing_url
    }

    return requests.request("GET", url, params=querystring)

def get_property_detail(api_key, zpid):
    url = "https://app.scrapeak.com/v1/scrapers/zillow/property"

    querystring = {
        "api_key": api_key,
        "zpid":zpid
    }

    return requests.request("GET", url, params=querystring)

def get_zpid(api_key, street, city, state, zip_code=None):
    url = "https://app.scrapeak.com/v1/scrapers/zillow/zpidByAddress"

    querystring = {
        "api_key": api_key,
        "street": street,
        "city": city,
        "state": state,
        "zip_code":zip_code
    }

    return requests.request("GET", url, params=querystring)

In [4]:
api_key = "59e77573-2bc8-482b-96ea-90d3058e1087"

In [5]:
listing_url = "https://www.zillow.com/homes/for_sale/?searchQueryState=%7B%22usersSearchTerm%22%3A%22Tampa%2C%20FL%22%2C%22mapBounds%22%3A%7B%22north%22%3A39.04448415446732%2C%22east%22%3A-76.75468067529296%2C%22south%22%3A38.74253426534613%2C%22west%22%3A-77.27447132470702%7D%2C%22mapZoom%22%3A11%2C%22isMapVisible%22%3Atrue%2C%22filterState%22%3A%7B%22price%22%3A%7B%22min%22%3A200000%2C%22max%22%3A550000%7D%2C%22beds%22%3A%7B%22min%22%3A2%7D%2C%22built%22%3A%7B%22min%22%3A1940%7D%2C%22doz%22%3A%7B%22value%22%3A%2290%22%7D%2C%22con%22%3A%7B%22value%22%3Afalse%7D%2C%22apa%22%3A%7B%22value%22%3Afalse%7D%2C%22mf%22%3A%7B%22value%22%3Afalse%7D%2C%22mp%22%3A%7B%22min%22%3A946%2C%22max%22%3A2366%7D%2C%22ah%22%3A%7B%22value%22%3Atrue%7D%2C%22sort%22%3A%7B%22value%22%3A%22globalrelevanceex%22%7D%2C%22land%22%3A%7B%22value%22%3Afalse%7D%2C%22tow%22%3A%7B%22value%22%3Afalse%7D%2C%22manu%22%3A%7B%22value%22%3Afalse%7D%2C%22apco%22%3A%7B%22value%22%3Afalse%7D%7D%2C%22isListVisible%22%3Atrue%7D"

listing_response = get_listings(api_key, listing_url)

In [6]:
num_of_properties = listing_response.json()["data"]["categoryTotals"]["cat1"]["totalResultCount"]
print("Count of properties:", num_of_properties)

Count of properties: 343

In [7]:
df_listings = pd.json_normalize(listing_response.json()["data"]["cat1"]["searchResults"]["mapResults"])
print("Number of rows:", len(df_listings))
print("Number of columns:", len(df_listings.columns))
df_listings.iloc[:,90:]

Number of rows: 343
Number of columns: 96

,style,isCdpResult,unitCount,hdpData.homeInfo.group_type,hdpData.homeInfo.priceSuffix,hdpData.homeInfo.providerListingID
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
338,NaN,NaN,NaN,NaN,NaN,NaN
339,NaN,NaN,NaN,NaN,NaN,NaN
340,NaN,NaN,NaN,NaN,NaN,NaN
341,Townhomes,True,5.0,BUILDER_COMMUNITY,+,29522754
342,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_listings.columns

Index(['zpid', 'price', 'rentalMarketingSubType', 'isR4R', 'priceLabel',
       'beds', 'baths', 'area', 'statusType', 'statusText', 'isFavorite',
       'isUserClaimingOwner', 'isUserConfirmedClaim', 'imgSrc', 'hasImage',
       'visited', 'listingType', 'shouldShowZestimateAsPrice', 'detailUrl',
       'pgapt', 'sgapt', 'has3DModel', 'hasVideo', 'isHomeRec', 'address',
       'info3String', 'brokerName', 'hasAdditionalAttributions',
       'isFeaturedListing', 'isShowcaseListing', 'availabilityDate',
       'timeOnZillow', 'latLong.latitude', 'latLong.longitude',
       'variableData.type', 'variableData.text', 'hdpData.homeInfo.zpid',
       'hdpData.homeInfo.streetAddress', 'hdpData.homeInfo.zipcode',
       'hdpData.homeInfo.city', 'hdpData.homeInfo.state',
       'hdpData.homeInfo.latitude', 'hdpData.homeInfo.longitude',
       'hdpData.homeInfo.price', 'hdpData.homeInfo.bathrooms',
       'hdpData.homeInfo.bedrooms', 'hdpData.homeInfo.livingArea',
       'hdpData.homeInfo.homeType', 'hdpData.homeInfo.homeStatus',
       'hdpData.homeInfo.daysOnZillow', 'hdpData.homeInfo.isFeatured',
       'hdpData.homeInfo.shouldHighlight', 'hdpData.homeInfo.zestimate',
       'hdpData.homeInfo.rentZestimate',
       'hdpData.homeInfo.listing_sub_type.is_bankOwned',
       'hdpData.homeInfo.isUnmappable',
       'hdpData.homeInfo.isPreforeclosureAuction',
       'hdpData.homeInfo.homeStatusForHDP', 'hdpData.homeInfo.priceForHDP',
       'hdpData.homeInfo.isNonOwnerOccupied',
       'hdpData.homeInfo.isPremierBuilder', 'hdpData.homeInfo.isZillowOwned',
       'hdpData.homeInfo.currency', 'hdpData.homeInfo.country',
       'hdpData.homeInfo.taxAssessedValue', 'hdpData.homeInfo.lotAreaValue',
       'hdpData.homeInfo.lotAreaUnit', 'hdpData.homeInfo.isShowcaseListing',
       'hdpData.homeInfo.isRentalWithBasePrice',
       'hdpData.homeInfo.listing_sub_type.is_forAuction',
       'hdpData.homeInfo.listing_sub_type.is_openHouse',
       'hdpData.homeInfo.openHouse',
       'hdpData.homeInfo.open_house_info.open_house_showing', 'variableData',
       'hdpData.homeInfo.listing_sub_type.is_FSBA',
       'hdpData.homeInfo.datePriceChanged', 'hdpData.homeInfo.priceReduction',
       'hdpData.homeInfo.priceChange', 'variableData.data.isFresh',
       'hdpData.homeInfo.listing_sub_type.is_newHome',
       'hdpData.homeInfo.newConstructionType', 'streetViewMetadataURL',
       'streetViewURL', 'hdpData.homeInfo.listing_sub_type.is_comingSoon',
       'hdpData.homeInfo.listing_sub_type.is_foreclosure',
       'hdpData.homeInfo.unit', 'hdpData.homeInfo.videoCount', 'communityName',
       'isPropertyResultCDP', 'builderName', 'style', 'isCdpResult',
       'unitCount', 'hdpData.homeInfo.group_type',
       'hdpData.homeInfo.priceSuffix', 'hdpData.homeInfo.providerListingID'],
      dtype='object')

In [8]:
df_listings.head()

,zpid,price,rentalMarketingSubType,isR4R,priceLabel,beds,baths,area,statusType,statusText,...,hdpData.homeInfo.videoCount,communityName,isPropertyResultCDP,builderName,style,isCdpResult,unitCount,hdpData.homeInfo.group_type,hdpData.homeInfo.priceSuffix,hdpData.homeInfo.providerListingID
0,37385869,"$268,850",unknown,False,$269K,4,3.0,2352,FOR_SALE,Foreclosure,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,37427610,$250K,unknown,False,$250K,3,2.0,1188,FOR_SALE,Auction,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,37399643,"$423,000",unknown,False,$423K,6,3.0,2752,FOR_SALE,House for sale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,37466705,"$535,000",unknown,False,$535K,4,3.0,2400,FOR_SALE,House for sale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,37298295,"$535,000",unknown,False,$535K,4,4.0,2038,FOR_SALE,House for sale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df = df_listings.iloc[:,36:49]

In [17]:
df.head()

,hdpData.homeInfo.zpid,hdpData.homeInfo.streetAddress,hdpData.homeInfo.zipcode,hdpData.homeInfo.city,hdpData.homeInfo.state,hdpData.homeInfo.latitude,hdpData.homeInfo.longitude,hdpData.homeInfo.price,hdpData.homeInfo.bathrooms,hdpData.homeInfo.bedrooms,hdpData.homeInfo.livingArea,hdpData.homeInfo.homeType,hdpData.homeInfo.homeStatus
0,37385869,1717 Shamrock Ave,20743,Capitol Heights,MD,38.86519,-76.92221,268850.0,3.0,4.0,2352.0,SINGLE_FAMILY,FOR_SALE
1,37427610,5709 Ramblewood Ave,20735,Clinton,MD,38.78017,-76.90870,250000.0,2.0,3.0,1188.0,SINGLE_FAMILY,FOR_SALE
2,37399643,2613 Brooks Dr,20746,Suitland,MD,38.85437,-76.92173,423000.0,3.0,6.0,2752.0,SINGLE_FAMILY,FOR_SALE
3,37466705,605 Bonnie Meadow Ln,20744,Fort Washington,MD,38.77091,-77.02364,535000.0,3.0,4.0,2400.0,SINGLE_FAMILY,FOR_SALE
4,37298295,10017 Brookmoor Dr,20901,Silver Spring,MD,39.02012,-76.99986,535000.0,4.0,4.0,2038.0,SINGLE_FAMILY,FOR_SALE

In [10]:
df.drop(df.columns[:2],axis=1,inplace=True)

In [11]:
df.head()

,hdpData.homeInfo.zipcode,hdpData.homeInfo.city,hdpData.homeInfo.state,hdpData.homeInfo.latitude,hdpData.homeInfo.longitude,hdpData.homeInfo.price,hdpData.homeInfo.bathrooms,hdpData.homeInfo.bedrooms,hdpData.homeInfo.livingArea,hdpData.homeInfo.homeType
0,20744,Fort Washington,MD,38.76020,-77.02415,495000.0,3.0,4.0,2308.0,SINGLE_FAMILY
1,20744,Fort Washington,MD,38.79564,-76.93400,400000.0,3.0,4.0,1400.0,SINGLE_FAMILY
2,20902,Wheaton,MD,39.04308,-77.05748,499000.0,2.0,4.0,1607.0,SINGLE_FAMILY
3,20746,Suitland,MD,38.83697,-76.90896,219900.0,2.0,3.0,1292.0,SINGLE_FAMILY
4,20735,Clinton,MD,38.75507,-76.89639,415000.0,4.0,4.0,2880.0,SINGLE_FAMILY

In [36]:
df2 = df_listings.iloc[:,50:68]

In [37]:
df2.head()

,hdpData.homeInfo.isFeatured,hdpData.homeInfo.shouldHighlight,hdpData.homeInfo.zestimate,hdpData.homeInfo.rentZestimate,hdpData.homeInfo.listing_sub_type.is_bankOwned,hdpData.homeInfo.isUnmappable,hdpData.homeInfo.isPreforeclosureAuction,hdpData.homeInfo.homeStatusForHDP,hdpData.homeInfo.priceForHDP,hdpData.homeInfo.isNonOwnerOccupied,hdpData.homeInfo.isPremierBuilder,hdpData.homeInfo.isZillowOwned,hdpData.homeInfo.currency,hdpData.homeInfo.country,hdpData.homeInfo.taxAssessedValue,hdpData.homeInfo.lotAreaValue,hdpData.homeInfo.lotAreaUnit,hdpData.homeInfo.isShowcaseListing
0,False,False,262000.0,2596.0,True,False,False,FOR_SALE,268850.0,True,False,False,USD,USA,320900.0,6098.400000,sqft,False
1,False,False,NaN,2840.0,NaN,False,False,FOR_SALE,250000.0,True,False,False,USD,USA,335900.0,10019.000000,sqft,False
2,False,False,422000.0,2770.0,NaN,False,False,FOR_SALE,423000.0,True,False,False,USD,USA,314200.0,0.294169,acres,False
3,False,False,528200.0,2800.0,NaN,False,False,FOR_SALE,535000.0,True,False,False,USD,USA,382600.0,0.466024,acres,False
4,False,False,528500.0,3099.0,NaN,False,False,FOR_SALE,535000.0,True,False,False,USD,USA,490867.0,7226.000000,sqft,False

In [38]:
df_final = pd.concat([df,df2],axis=1)

In [39]:
df_final.shape

(343, 31)

In [40]:
df_final.head()

,hdpData.homeInfo.zpid,hdpData.homeInfo.streetAddress,hdpData.homeInfo.zipcode,hdpData.homeInfo.city,hdpData.homeInfo.state,hdpData.homeInfo.latitude,hdpData.homeInfo.longitude,hdpData.homeInfo.price,hdpData.homeInfo.bathrooms,hdpData.homeInfo.bedrooms,...,hdpData.homeInfo.priceForHDP,hdpData.homeInfo.isNonOwnerOccupied,hdpData.homeInfo.isPremierBuilder,hdpData.homeInfo.isZillowOwned,hdpData.homeInfo.currency,hdpData.homeInfo.country,hdpData.homeInfo.taxAssessedValue,hdpData.homeInfo.lotAreaValue,hdpData.homeInfo.lotAreaUnit,hdpData.homeInfo.isShowcaseListing
0,37385869,1717 Shamrock Ave,20743,Capitol Heights,MD,38.86519,-76.92221,268850.0,3.0,4.0,...,268850.0,True,False,False,USD,USA,320900.0,6098.400000,sqft,False
1,37427610,5709 Ramblewood Ave,20735,Clinton,MD,38.78017,-76.90870,250000.0,2.0,3.0,...,250000.0,True,False,False,USD,USA,335900.0,10019.000000,sqft,False
2,37399643,2613 Brooks Dr,20746,Suitland,MD,38.85437,-76.92173,423000.0,3.0,6.0,...,423000.0,True,False,False,USD,USA,314200.0,0.294169,acres,False
3,37466705,605 Bonnie Meadow Ln,20744,Fort Washington,MD,38.77091,-77.02364,535000.0,3.0,4.0,...,535000.0,True,False,False,USD,USA,382600.0,0.466024,acres,False
4,37298295,10017 Brookmoor Dr,20901,Silver Spring,MD,39.02012,-76.99986,535000.0,4.0,4.0,...,535000.0,True,False,False,USD,USA,490867.0,7226.000000,sqft,False

In [44]:
df_final.columns

Index(['hdpData.homeInfo.zpid', 'hdpData.homeInfo.streetAddress',
       'hdpData.homeInfo.zipcode', 'hdpData.homeInfo.city',
       'hdpData.homeInfo.state', 'hdpData.homeInfo.latitude',
       'hdpData.homeInfo.longitude', 'hdpData.homeInfo.price',
       'hdpData.homeInfo.bathrooms', 'hdpData.homeInfo.bedrooms',
       'hdpData.homeInfo.livingArea', 'hdpData.homeInfo.homeType',
       'hdpData.homeInfo.homeStatus',
       'hdpData.homeInfo.listing_sub_type.is_bankOwned',
       'hdpData.homeInfo.isUnmappable',
       'hdpData.homeInfo.isPreforeclosureAuction',
       'hdpData.homeInfo.isNonOwnerOccupied',
       'hdpData.homeInfo.isPremierBuilder', 'hdpData.homeInfo.isZillowOwned',
       'hdpData.homeInfo.currency', 'hdpData.homeInfo.country',
       'hdpData.homeInfo.taxAssessedValue', 'hdpData.homeInfo.lotAreaValue',
       'hdpData.homeInfo.lotAreaUnit'],
      dtype='object')

In [45]:
new_names = {
    'hdpData.homeInfo.zpid':'zpid',
    'hdpData.homeInfo.streetAddress':'Address',
    'hdpData.homeInfo.zipcode':'zipcode',
    'hdpData.homeInfo.city':'city',
    'hdpData.homeInfo.state':'state',
    'hdpData.homeInfo.latitude':'latitude',
    'hdpData.homeInfo.longitude':'longitude',
    'hdpData.homeInfo.price':'price',
    'hdpData.homeInfo.bathrooms':'bathrooms',
    'hdpData.homeInfo.bedrooms':'bedrooms',
    'hdpData.homeInfo.currency':'currency',
    'hdpData.homeInfo.country':'country',
    'hdpData.homeInfo.taxAssessedValue':'taxAssessedvalue',
    'hdpData.homeInfo.lotAreaValue':'lotAreaValue',
    'hdpData.homeInfo.lotAreaUnit':'lotAreaUnit',
    'hdpData.homeInfo.livingArea':'livingArea',
    'hdpData.homeInfo.homeType':'homeType',
    'hdpData.homeInfo.homeStatus':'homeStatus',
    'hdpData.homeInfo.listing_sub_type.is_bankOwned':'is_bankOwned',
    'hdpData.homeInfo.isUnmappable':'isUnmappable',
    'hdpData.homeInfo.isPreforeclosureAuction':'isPreforeclosureAuction',
    'hdpData.homeInfo.isNonOwnerOccupied':'isNonOwnerOccupied',
    'hdpData.homeInfo.isPremierBuilder':'isPremierBuilder',
    'hdpData.homeInfo.isZillowOwned':'isZillowOwned'
    
       
}

df_final = df_final.rename(columns=new_names)

In [42]:
df_final.drop(columns=['hdpData.homeInfo.isFeatured','hdpData.homeInfo.shouldHighlight','hdpData.homeInfo.zestimate','hdpData.homeInfo.rentZestimate','hdpData.homeInfo.homeStatusForHDP','hdpData.homeInfo.priceForHDP','hdpData.homeInfo.isShowcaseListing'],inplace=True)

In [46]:
df_final.head()

,zpid,Address,zipcode,city,state,latitude,longitude,price,bathrooms,bedrooms,...,isUnmappable,isPreforeclosureAuction,isNonOwnerOccupied,isPremierBuilder,isZillowOwned,currency,country,taxAssessedvalue,lotAreaValue,lotAreaUnit
0,37385869,1717 Shamrock Ave,20743,Capitol Heights,MD,38.86519,-76.92221,268850.0,3.0,4.0,...,False,False,True,False,False,USD,USA,320900.0,6098.400000,sqft
1,37427610,5709 Ramblewood Ave,20735,Clinton,MD,38.78017,-76.90870,250000.0,2.0,3.0,...,False,False,True,False,False,USD,USA,335900.0,10019.000000,sqft
2,37399643,2613 Brooks Dr,20746,Suitland,MD,38.85437,-76.92173,423000.0,3.0,6.0,...,False,False,True,False,False,USD,USA,314200.0,0.294169,acres
3,37466705,605 Bonnie Meadow Ln,20744,Fort Washington,MD,38.77091,-77.02364,535000.0,3.0,4.0,...,False,False,True,False,False,USD,USA,382600.0,0.466024,acres
4,37298295,10017 Brookmoor Dr,20901,Silver Spring,MD,39.02012,-76.99986,535000.0,4.0,4.0,...,False,False,True,False,False,USD,USA,490867.0,7226.000000,sqft

In [47]:
df_final.dtypes

zpid                         int64
Address                     object
zipcode                     object
city                        object
state                       object
latitude                   float64
longitude                  float64
price                      float64
bathrooms                  float64
bedrooms                   float64
livingArea                 float64
homeType                    object
homeStatus                  object
is_bankOwned                object
isUnmappable                  bool
isPreforeclosureAuction       bool
isNonOwnerOccupied            bool
isPremierBuilder              bool
isZillowOwned                 bool
currency                    object
country                     object
taxAssessedvalue           float64
lotAreaValue               float64
lotAreaUnit                 object
dtype: object

In [48]:
df_final['zipcode'] = df_final['zipcode'].astype('int')
df_final['city'] = df_final['city'].astype('string')
df_final['state'] = df_final['state'].astype('string')
df_final['bathrooms'] = df_final['bathrooms'].astype('int')
df_final['bedrooms'] = df_final['bedrooms'].astype('int')
df_final['homeType'] = df_final['homeType'].astype('string')
df_final['currency'] = df_final['currency'].astype('string')
df_final['country'] = df_final['country'].astype('string')
df_final['lotAreaUnit'] = df_final['lotAreaUnit'].astype('string')

In [49]:
df_final.head()

,zpid,Address,zipcode,city,state,latitude,longitude,price,bathrooms,bedrooms,...,isUnmappable,isPreforeclosureAuction,isNonOwnerOccupied,isPremierBuilder,isZillowOwned,currency,country,taxAssessedvalue,lotAreaValue,lotAreaUnit
0,37385869,1717 Shamrock Ave,20743,Capitol Heights,MD,38.86519,-76.92221,268850.0,3,4,...,False,False,True,False,False,USD,USA,320900.0,6098.400000,sqft
1,37427610,5709 Ramblewood Ave,20735,Clinton,MD,38.78017,-76.90870,250000.0,2,3,...,False,False,True,False,False,USD,USA,335900.0,10019.000000,sqft
2,37399643,2613 Brooks Dr,20746,Suitland,MD,38.85437,-76.92173,423000.0,3,6,...,False,False,True,False,False,USD,USA,314200.0,0.294169,acres
3,37466705,605 Bonnie Meadow Ln,20744,Fort Washington,MD,38.77091,-77.02364,535000.0,3,4,...,False,False,True,False,False,USD,USA,382600.0,0.466024,acres
4,37298295,10017 Brookmoor Dr,20901,Silver Spring,MD,39.02012,-76.99986,535000.0,4,4,...,False,False,True,False,False,USD,USA,490867.0,7226.000000,sqft

In [50]:
df_final.to_csv('real_estate_data.csv',index=False)